.App {
  margin-top: 3.5rem;
}

.showcase {
  display: block;
}

.greeting {
  font-size: 4rem;
  font-weight: 500;
  /* transform: scale(1.15); */
  padding: 1.5rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  margin-top: -2rem;
}

.timeContainer {
  font-size: 6rem;
  /* font-weight: 300; */
  padding: 1.5rem;
}

.dateContainer {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.8rem;
  /* font-weight: 300; */
  letter-spacing: 0.05px;
  background-color: #363636;
  color: white;
  display: inline-block;
  border-radius: 20px;
  padding: 0.2rem 2rem;
}

.iconsContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.iconsContainer a {
  color: rgba(180, 180, 180, 0.8);
  text-decoration: none;
  margin: 20px;
}

.iconsContainer a:hover {
  color: rgba(180, 180, 180, 0.5);
}

.panel {
  display: flex;
  position: absolute;
  top: 0;
  right: 1%;
  opacity: 0.7;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.panel .weather {
  display: flex;
  gap: 3px;
  justify-content: space-around;
  align-items: center;
  padding: 1px;
}

.panel img {
  width: 3.5rem;
}

.panel small {
  opacity: 0.8;
}

.panel span {
  opacity: 0.8;
  font-size: 0.9rem;
}

@media (max-width: 700px) {
  .greeting {
    font-size: 3rem;
  }
  .timeContainer {
    font-size: 5rem;
  }
  .dateContainer {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .greeting {
    font-size: 2.5rem;
  }
  .timeContainer {
    font-size: 3.5rem;
  }
  .dateContainer {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .greeting {
    font-size: 2.1rem;
  }
  .timeContainer {
    font-size: 2.8rem;
  }
  .dateContainer {
    font-size: 1.2rem;
  }
}
