.Pomodoro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.Pomodoro .title {
  position: absolute;
  top: 0.8rem;
  align-self: center;
  /* font-weight: 400; */
}
.clockLink {
  margin: 1rem;
  position: absolute;
  top: 0.7rem;
  left: 0.5rem;
}
.clockIcon {
  font-size: 3rem;
  color: rgba(150, 150, 150, 0.8);
}
.clockIcon:hover {
  color: rgba(170, 170, 170, 0.6);
}

.pomodoroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radioButtons {
  display: flex;
  padding: 0.5rem;
  font-size: 0.8rem;
  margin-bottom: 4rem;
  margin-top: -3rem;
  background-color: #484848;
  border-radius: 1rem;
}
.radio-btn.active-btn {
  background-color: #ee9910;
  color: #000;
}
.radio-btn {
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: none;
  color: white;
  background: #000;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
}

.timerContainer {
  font-size: 4rem;
  font-weight: 200;
}

.buttonsContainer {
  margin-top: 1rem;
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  /* width: 350px; */
  gap: 2rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #404040;
  color: white;
  font-size: 1.2rem;
  padding: 0.7rem 1.3rem;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}
.btn.active-btn {
  background-color: #ee9910;
  color: #000;
}
.btn:hover {
  opacity: 0.9;
}

.settings-btn {
  background-color: #ee9910;
  color: #000;
  font-weight: 600;
  margin: 1rem;
}
.settings-btn:hover {
  background-color: #d4880e;
}

.settingsBtn {
  background: transparent;
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
}

.settingsIcon {
  /* color: rgba(203, 197, 197, 0.8); */
  color: rgba(222, 222, 222, 0.8);
  text-decoration: none;
  margin: 20px;
  padding: 0;
  margin: 0;
}

.settingsIcon:hover {
  /* color: rgba(180, 180, 180, 0.5); */
  color: rgb(200, 200, 200, 0.7);
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

label {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.input {
  width: 4rem;
  font-size: medium;
  text-align: center;
  padding: 0.3rem;
  border-radius: 4px;
}
.input:focus {
  padding: 0.32rem;
  outline: 2px solid #ee9910;
}

@media (max-height: 630px) {
  .radioButtons {
    margin-top: 2.5rem;
  }
}
