/* * {
  box-sizing: border-box;
} */

/* .App {
} */

.showcase {
  /* display: none; */
  display: block;
}

.greeting {
  font-size: 4rem;
  font-weight: 500;
  padding: 1.5rem;
  margin-bottom: 0rem;
  margin-top: -2rem;
}

.timeContainer {
  font-size: 6rem;
  /* font-weight: 300; */
  padding: 1.5rem;
}

.dateContainer {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.8rem;
  /* font-weight: 300; */
  letter-spacing: 0.05px;
  background-color: #363636;
  color: white;
  display: inline-block;
  border-radius: 20px;
  padding: 0.2rem 2rem;
}

.iconsContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.iconsContainer a {
  color: rgba(180, 180, 180, 0.8);
  text-decoration: none;
  margin: 20px;
}

.iconsContainer a:hover {
  color: rgba(180, 180, 180, 0.5);
}
/* .iconsContainer a.active {
} */

.panel {
  /* display: none; */
  display: flex;
  position: absolute;
  top: 0;
  left: 1%;
  opacity: 0.7;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.panel img {
  width: 4rem;
}

.panel small {
  opacity: 0.5;
}
